h1{
    /* <!-- color property --> */
    color: blue;
    /* <!-- background-color property --> */
    background-color: gray;
}
p{
    color:red;
    background-color: cornsilk;
}
button{
    color: gold;
    background-color: black;
}
/*gfgggvvhg*/